PORT=5000
MONGO_URI=mongodb+srv://mayankkr0311_db_user:5Q7AfFpyy6EEjBXI@cluster0.qwljyhl.mongodb.net/doczen
JWT_SECRET=doczen_jwt_secret_key_2024_secure_token
JWT_EXPIRES_IN=30d
OWNER_PASSWORD=doczen-admin-secure-key
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
